/* Init variables */

:root {
    --emulated-100vh: 100vh;
    --height-main-nav: 0px;
    --height-module-nav: 0px;
    --height-mobile-nav: 0px;
    --target-height-game-data: 0px;
}

/* Jumbotron background */

.jumbotron-gamble {
    background-image: url("/gamble/img/gamble_jumbotron.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

@media (max-width: 991px) {
    .jumbotron-gamble {
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

/* Navbar */

.navbar-gamble {
    background-color: var(--color-input) !important;
    z-index: 999 !important;
}

.navbar-mobile .nav-separ {
    display: none !important;
}

.navbar-gamble br {
    display: none !important;
}

/* Card */

.card {
    background-color: var(--color-bg-light);
}

/* Js sizing */

.rest-of-height {
    height: calc(var(--emulated-100vh)
                 - var(--height-main-nav)
                 - var(--height-module-nav)
                );
}

@media (max-width: 991px) {
    .rest-of-height {
        height: calc(var(--emulated-100vh)
                     - var(--height-main-nav)
                     - var(--height-mobile-nav)
                    ) !important;
    }
}

#game-container {
    height: var(--target-height-game-data);
}