/* Jumbotron background */

.jumbotron-gamble {
    background-image: url("/gamble/img/gamble_jumbotron.jpg");
    background-size: cover;
    background-position: center;
    padding-top: 130px;
    padding-bottom: 130px;
}

@media (max-width: 991px) {
    .jumbotron-gamble {
        padding-top: 45px;
        padding-bottom: 45px;
    }
}

/* Navbar */

.navbar-gamble {
    background-color: var(--color-input) !important;
    z-index: 999 !important;
}

.navbar-mobile .nav-separ {
    display: none !important;
}

.navbar-gamble br {
    display: none !important;
}

/* Card */

.card {
    background-color: var(--color-bg-light);
}